{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <script src="{% static 'js/project.js' %}"></script>
    <header>
        <!-- Navigation Menu -->
        <nav class="navbar">
        <div class="logo">
            <a href="/profile"><img src="{% static 'images/jobportal.png' %}" alt="Logo"></a>
        </div>

        <!-- Hamburger icon -->
        <div class="menu-toggle" onclick="toggleMenu()">
            ☰
        </div>
        <!-- Menu items -->
        <ul class="nav-links" id="navLinks">
            <li><a href="/search_job">Search</a></li>
            <li><a href="/profile">Home</a></li>
             <li><a href="/user_details">Profile</a></li>
            <li><a href="/user_login">Logout</a></li>
        </ul>
        </nav>

    </header>
     <main>
        <!-- <img src="{% static 'images/background.jpeg' %}" alt="Job Portal Banner"> -->
         <table border="1">
            <tr>
                <th>Job Id</th>
                <th>Job Title</th>
                <th>Job Description</th>
                <th>Salary</th>
                <th>Apply Link</th>
            </tr>
            
                {% for i in data%}
                <tr>
                    <td>{{i.jobId}}</td>
                    <td>{{i.jobname}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.salary}}</td>
                    <td><a href="{{i.link}}"><b>Apply Link</b></a></td>
                </tr>
                {% endfor %}
            
         </table>
    </main>
    <footer id="footer">
        <p>📞 Contact Us: +91-9876543210</p>
        <p>📧 Email: <a href="mailto:bangalore@jobportal.com">bangalore@jobportal.com</a></p>
        <p>🏢 Address: 123 Tech Street, Hyderabad, India</p>
        <p>&copy; 2025 Job Portal. All rights reserved.</p>
    </footer>
</body>
</html>